// colors

$color-black: #0c0c0c;
$color-white: #fff;
$color-red: #d92323;
$color-red-hover: #fc4545;
$color-dirty-white: #e2e2e2;
$color-green-hover: #1dd65f;
$color-form-bg: #2b3e50;
$color-input-border: #3498db;
$color-btn-primary: #2ecc71;
$color-light-blue: #4e5d6c;
