<app-header></app-header>
<div
  [ngClass]="
    isLoading
      ? 'home-bg d-flex justify-content-center align-items-center'
      : 'home-bg d-flex justify-content-center'
  "
>
  <div *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div
    *ngIf="!isMobileScreen && !isLoading && topAlbums.length > 0"
    class="container"
  >
    <h2 class="pt-30 pb-30">{{ title }} top albums</h2>
    <div class="d-flex flex-wrap justify-content-center pb-40">
      <div class="results" *ngFor="let album of topAlbums">
        <div class="card">
          <img
            class="card__img pointer"
            (click)="goToDetails(album.artist, album.name)"
            [src]="album.image"
            onerror="this.src='../assets/img/no-image-found.jpg';"
            alt="cover image"
          />
          <h5 class="card__title mr-10 ml-10 mt-15">{{ album.name }}</h5>
          <h5 class="card__title mr-10 ml-10">{{ album.artist }}</h5>
          <div
            [ngClass]="
              isLoggedIn && album.isInFavourites
                ? 'card__favourite--added pointer'
                : 'card__favourite pointer'
            "
            (click)="addToFavourites(album)"
            [inlineSVG]="'/assets/favourite.svg'"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobileScreen && !isLoading && topAlbums.length > 0">
    <h2 class="pt-30 pb-50">{{ title }} top albums</h2>
    <div class="d-flex pl-20 pr-20 pb-20 flex-wrap justify-content-center">
      <div class="results" *ngFor="let album of topAlbums">
        <div class="card">
          <img
            class="card__img pointer"
            (click)="goToDetails(album.artist, album.name)"
            [src]="album.image"
            onerror="this.src='../assets/img/no-image-found.jpg';"
            alt="cover image"
          />
          <h5 class="card__title mr-10 ml-10 mt-15">{{ album.name }}</h5>
          <h5 class="card__title mr-10 ml-10">{{ album.artist }}</h5>
          <div
            [ngClass]="
              isLoggedIn && album.isInFavourites
                ? 'card__favourite--added pointer'
                : 'card__favourite pointer'
            "
            (click)="addToFavourites(album)"
            [inlineSVG]="'/assets/favourite.svg'"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading && topAlbums.length === 0">
    <h2 class="pt-30 pb-30">No results for: {{ title }}</h2>
  </div>
</div>
<app-footer></app-footer>
